<div>
    <mat-icon [matBadge]="produtos.length" matBadgeColor="primary">people</mat-icon>
  </div>
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <mat-card fxFlex="20" class="card-usuario" *ngFor="let produto of produtos">
      <mat-card-header>
        <mat-card-title>{{produto.nome}}</mat-card-title>
        <mat-card-subtitle>               
            preco: {{ produto.preco }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button [routerLink]="['/editaproduto', produto.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="excluir(produto)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  